12                # number of wells in the x 
8                 # number of wells in y 
98.96  0.04  0.11   # coordinates of the top left drop
-0.17  62.86  1.01   # coordinates of the bottom right drop
98.61  62.98  1.10   # coordinates of the bottom left drop
0.15              # default image spacing in z
5                 # default number of images per drop
